table{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    min-width: 600px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th,
td{
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #F3F4F6;
}

td{
    color: #1F2937;
}

td,tr{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

th{
    background-color: #226583;             
    font-weight: 600;
    line-height: 1.4;

}

tr{
    color: #fff;
    background-color: #F9FAFB;
}

tr:hover{
    background-color: #f1f1f1;
}

.canales{
    vertical-align: middle;
    white-space: nowrap;  /* Evita que las imágenes pasen a nueva línea */
}

.canal-icon {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
    vertical-align: middle;
    display: inline-block;  /* Fuerza comportamiento inline-block */
    margin-right: 4px;      /* Espacio entre iconos (space-1) */
}

.canal-icon:last-child {
    margin-right: 0;        /* Elimina margen del último icono */
}

.botones{
    display: flex;
    justify-content: space-between;
}

.botones button{
    color: #fff;
    border-radius: 8px;
    background-color: #226583;
    padding: 8px 12px;
    border: 1px solid black;
}
